# Forge <= 1.16 runs on MCP class names, so this file is written in them
public net.minecraft.client.Minecraft fps
public net.minecraft.client.gui.screen.BiomeGeneratorTypeScreens FLAT
public net.minecraft.item.ItemModelsProperties registerGeneric(Lnet/minecraft/util/ResourceLocation;Lnet/minecraft/item/IItemPropertyGetter;)Lnet/minecraft/item/IItemPropertyGetter;
public net.minecraft.client.renderer.texture.NativeImage writeToChannel(Ljava/nio/channels/WritableByteChannel;)Z
